BODY {

}
.topic{
    color: #0a0a0a;
    background: #fffbfb;
    line-height: 1.3;
    font-size: 20;
}
.contents{
    color: #0a0a0a;
    background: #fffbfb;
    line-height: 1.3;
    font-size: 20;
}

.language-csharp{
border: #0a0a0a;
}
.language-js{
  border: #0a0a0a;  
}
table{
background-color: white;
border: thin solid black; 
border-collapse: collapse;   
}
td, th {
border: thin dotted gray;
padding: 5px;
}
caption {
font-style: italic;
padding-top: 8px;
}

th {
background-color: #eeeeee;
} 
.yes{
  font-weight: bold;
  color: rgb(3, 138, 93);
}
blockquote{
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px 0;
}